* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    position: absolute;
    top: 40%;
    padding: 16px;
    
    /* style stuff (optional) */
    color: white;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
}

/* Caption text */
.caption {
  color: #f2f2f2;
  position: absolute;
  bottom: 8px;
    
    /* style stuff (optional) */
  text-align: center;
  width: 100%;
  padding: 8px 12px;
  font-size: 20px;
}

/* Position the "prev" button to the left */
.prev {
    border-radius: 0 3px 3px 0;
}

/* Position the "next" button to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* Change button look on hover to show interactability (optional) */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
    text-align: center;
    padding: 20px;
    
    /* style stuff (optional) */
    background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    
    /* style stuff (optional) */
    cursor: pointer; 
    margin: 0 2px;
    transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle, or when hovered over to indicate it can be interacted with */
.active, .dot:hover {
    background-color: #717171;
}


/* Fading animation (optional) */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}